/* colors.css */
/* background */
.bg-alice-blue {
  background-color: #E3F2FD;
}

.bg-bondi-blue {
  background-color: #0092bd;
}

.bg-brick-ember {
  background-color: #D50000;
}

.bg-cerulean {
  background-color: #007a9d;
}

.bg-cool-steel {
  background-color: #9E9E9E;
}

.bg-deep-saffron {
  background-color: #FF8F00;
}

.bg-jade-green {
  background-color: #00C853;
}

.bg-medium-jungle {
  background-color: #00A844;
}

.bg-old-lace {
  background-color: #FFF3E0;
}

.bg-platinium {
  background-color: #F5F7FA;
}

.bg-radioactive-grass {
  background-color: #64DD17;
}

.bg-soft-blush {
  background-color: #FEE2E2;
}

/* border */
.border-bondi-blue {
  border-color: #0092bd;
}

.border-deep-saffron {
  border-color: #FF8F00;
}

/* ring */
.ring-bondi-blue {
  --tw-ring-color: #0092bd;
}

/* text */
.text-bondi-blue {
  color: #0092bd;
}

.text-brick-ember {
  color: #D50000;
}

.text-carbon-black {
  color: #1A1A1A;
}

.text-deep-saffron {
  color: #FF8F00;
}

.text-dim-gray {
  color: #5F6368;
}

.text-jade-green {
  color: #00C853;
}